.section {
    padding: 40px 0;
}

.text {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
}

.text:last-child {
    margin-bottom: 0;
}

.text strong {
    font-weight: bold;
}

/* md - Medium devices (≥768px) */
@media (min-width: 768px) {
    .section {
        padding: 60px 0;
    }
}

/* lg - Large devices (≥992px) */
@media (min-width: 992px) {
    .section {
        padding: 80px 0;
    }
}
