.section {
    position: relative;
}

.contentData {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #e3e3e3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--primary-color) !important;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: black;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}

.contentLogos {
    display: none;
}

.contentImgLogos {
    padding: 0;
    overflow: hidden;
}

/* sm - Small devices (≥576px) */
@media (min-width: 576px) {
    .title {
        font-size: 3rem;
    }
}

/* md - Medium devices (≥768px) */
@media (min-width: 768px) {
    .title {
        font-size: 56px;
    }

    .contentData {
        position: relative;
        text-align: left;
        padding-left: 10%;
    }

    .contentData::after {
        content: '';
        position: absolute;
        top: 0;
        right: -114px;
        width: 114px;
        height: 152px;
        background-image: url('./../../../../../../images/nosotros/onda-superior-gris.webp');
        background-repeat: no-repeat;
        background-size: contain; /* o cover */
        background-position: center;
    }

    .contentLogos {
        display: inline-block;
    }

    .contentImgLogos {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .logos {
        max-width: 120%;
    }

    .fajaPlena {
        align-self: flex-end;
        background: #e3e3e3;
        height: 70px;
    }
}

/* lg - Large devices (≥992px) */
@media (min-width: 992px) {
    .title {
        font-size: 60px;
    }

    .contentData::after {
        right: -136px;
        width: 136px;
        height: 183px;
    }

    .logos {
        max-width: 720px;
    }

    .fajaPlena {
        height: 84px;
    }
}

/* xl - Extra large devices (≥1200px) */
@media (min-width: 1200px) {
}

/* xxl - Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
    .title {
        font-size: 85px;
    }

    .contentData::after {
        right: -149px;
        width: 149px;
        height: 198px;
    }

    .fajaPlena {
        height: 104px;
    }

    .logos {
        max-width: 778px;
    }
}

@media (min-width: 1600px) {
    .contentData {
        padding-left: 20%;
    }

    .title {
        font-size: 100px;
    }

    .contentData::after {
        right: -169px;
        width: 169px;
        height: 225px;
    }

    .fajaPlena {
        height: 120px;
    }

    .contentImgLogos {
        justify-content: center;
    }

    .logos {
        max-width: 830px;
    }
}
