/* Estilos base (móvil) */
.section {
    background-color: #fff;
    padding: 2rem 0 3rem;
}

.benefitCard {
    text-align: center;
    margin-bottom: 2rem;
}

.iconWrapper {
    margin-bottom: 1rem;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--tertiary-color);
    margin: 0;
    line-height: 1.3;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--tertiary-color);
    margin: 0;
    line-height: 1.3;
}

/* sm - Small devices (≥576px) */
@media (min-width: 576px) {
    .benefitCard {
        margin-bottom: 0;
    }

    .icon {
        width: 55px;
        height: 55px;
    }
}

/* md - Medium devices (≥768px) */
@media (min-width: 768px) {
    .section {
        padding: 2.5rem 0 3.5rem;
    }

    .icon {
        width: 60px;
        height: 60px;
    }

    .title,
    .subtitle {
        font-size: 1.05rem;
    }
}

/* lg - Large devices (≥992px) */
@media (min-width: 992px) {
    .section {
        padding: 3rem 0 4rem;
    }

    .icon {
        width: 65px;
        height: 65px;
    }

    .title,
    .subtitle {
        font-size: 1.1rem;
    }
}

/* xl - Extra large devices (≥1200px) */
@media (min-width: 1200px) {
    .icon {
        width: 70px;
        height: 70px;
    }
}

/* xxl - Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
}
