@import url('fonts.css');

/* Variables */
:root {
    --primary-color: rgba(59, 80, 147, 1);
    --secondary-color: rgba(31, 172, 158, 1);
    --tertiary-color: rgba(22, 27, 51, 1);
    --neutral-color: rgba(230, 233, 241, 1);
}
/* Variables end */

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

.bebas {
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-style: normal;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#app footer {
    flex: 0 0 auto; /* no crece, no encoge */
}

#app main {
    flex: 1 0 auto; /* crece para ocupar el espacio restante */
}
