.header {
    position: relative;
    width: 100%;
    overflow: visible;
}

.imageContainer {
    position: relative;
    width: 100%;
}

.titleBreak {
    display: none;
}

.overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.mainImage {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 2;
}

.title {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    line-height: 1;
    margin: 0;
    text-align: center;
    padding: 0.5rem 1rem;
}

.title span {
    color: white;
}

.wave {
    display: none;
}

/* sm - Small devices (≥576px) */
@media (min-width: 576px) {
    .title {
        font-size: 2rem;
        line-height: 1.3;
        padding: 0;
    }
}

/* md - Medium devices (≥768px) */
@media (min-width: 768px) {
    .titleBreak {
        display: inline-block;
    }

    .overlay {
        display: none;
    }

    .title {
        color: var(--tertiary-color);
        text-align: left;
    }

    .content {
        bottom: 85px;
    }

    .wave {
        display: block;
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 40%;
        height: auto;
        z-index: 3;
    }
}

/* lg - Large devices (≥992px) */
@media (min-width: 992px) {
    .content {
        bottom: 110px;
    }

    .title {
        font-size: 2.75rem;
    }
}

/* xl - Extra large devices (≥1200px) */
@media (min-width: 1200px) {
    .title {
        font-size: 3rem;
    }

    .content {
        bottom: 170px;
    }

    .wave {
        width: 45%;
        bottom: 75px;
    }
}

/* xxl - Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
    .title {
        font-size: 3.75rem;
    }

    .content {
        bottom: 220px;
    }

    .wave {
        bottom: 85px;
        width: 48%;
    }
}

@media (min-width: 1700px) {
    .title {
        font-size: 4rem;
    }

    .content {
        bottom: 250px;
    }
}
